<div class="media-highliht row">
  <%= image_tag "birds.png" %>
</div>

<div class="row">
  <aside class="small-3 columns">
    <h3>new birds</h3>
    <h3>best seller</h3>
  </aside>


  <article class="small-9 columns">
    <section>
      <h3>some heading</h3>
    </section>
    <section>
      <div class="ads small-6 columns">
        <h3>
          <%= image_tag "truck.gif" %>
          FREE SHIPPING</h3>
          <p>on order over $30</p>
      </div>
      <div class="ads small-6 columns">
        <h3>10%off</h3>
      </div>
    </section>
    <section>
      <h3>some heading</h3>
    </section>

  </article>

</div>
