<section class="merchant-order row">
  <h3>Order Details: Order <%= @order.id %> </h3>

  <section class="small-4 columns">
    <%= render partial: "customer_info" %>
  </section>

  <section class="small-8 columns">
    <h4>Order Summary</h4>
    <%= render partial: "order_summary.html.erb" %>
  </section>

</section>
