<h1>Confirmation page for Order <%= @order.id %> </h1>

<% total = 0%>
<% @order_items.each do |order_item|%>
<% total = order_item.quantity * order_item.product.price %>
<% end %>

<section>
<%= render partial: "customer_info" %>
</section>

<section>
<h3><strong>Order Summary</strong></h3>
<%= render partial: "order_items/item_summary" %>
</section>






<%#= link_to 'All Orders', orders_path %>
<%#= link_to 'Edit Order', edit_order_path %>
