/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /*green header&footer #66ad1f;*/
 /*orange buttons #ff8533;*/
 /*dark orange on hover #e65c00;*/
 /*yellow #ffd24d;*/
 /*green for text #009933;*/
 /*grey #cccccc;*/

 /** {
   border: 1px solid red;
 }*/

 .page-header {
   background-color: #66ad1f;
   max-width: 100%;
 }

 .nav a, .nav p {
   margin: .5rem .1rem;
   background-color: #ff8533;
   font-weight: bold;
 }

 .nav a:hover, .nav p:hover {
   background-color: #e65c00;
 }

 .cart {
   margin: .5rem .1rem;
   background-color: #ffd24d;
   font-weight: bold;
   margin-top: 3.6rem;
 }

 .ads {
   height: 7rem;
   padding: 1rem;
   margin: 3% 0;
   color: #fff;
   font-weight: bold;
 }

 .ads:first-of-type {
   margin-left: 5.5%;
   background-color: #ffd24d;
 }

 .ads:last-of-type {
   margin-right: 5.5%;
   background-color: #66ad1f;
 }

 .ads p {
   text-align: center;
   margin: 0;
 }

 .ads h3 {
   margin: 0;
 }

 .show-im {
   padding: 1rem 0;
   text-align: center;
 }

 .show-desc li {
   list-style-type: none;
   margin-right: 5rem;
 }

 .rating {
   border-bottom: 1px solid #cccccc;
 }

 .green {
   color: #009933;
   font-weight: bold;
 }

 .product {
   border-bottom: 1px solid #cccccc;
 }

 .media-highlight img {
   margin-bottom: 1.5rem;
 }

  aside li, .merchant-show li {
   list-style-type: none;
   border: 1px solid red;
 }

 aside li img {
   width: 50px;
 }

 aside ul {
   margin: 0;
 }

 footer {
   height: 5rem;
   margin-top: 4rem;
   background-color: #66ad1f;
   text-align: center;
   color: #fff;
   font-weight: bold;
 }

 footer p {
   padding: 2rem;
 }

 main {
   margin-top: 1rem;
 }

.merchant-show section:last-of-type{
 border-left: 1px solid #cccccc;;
}

.merchant-show li:nth-child(-n+2) {
  font-weight: bold;
}

.merchant-show li {
  margin: .3rem;
}

.merchant-show .button {
  background-color: #ffd24d;
  font-weight: bold;
}

.merchant-show table th, .merchant-show table td:nth-last-child(-n+3) {
  text-align: center;
}

.merchant-show table .button {
  margin: 0;
}
