<!-- <div class="row">
  <div class="large-12columns">
    <div class="overlay-container">
        <img src="http://lorempixel.com/500/300" />
        <img id="four"src="  http://www.deepintolove.com/wp-content/uploads/2012/05/bird-in-the-rain.jpg" alt="sad bird in rain"  />
        https://s-media-cache-ak0.pinimg.com/originals/76/2b/7b/762b7be85ada8915020102c9e4480f2f.jpg
        <div class="overlay"><h1>404 - PAGE NOT FOUND</h1></div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="small-9 columns small-centered">
    <h1 class="huge">SORRY</h1>
    <h2 class="big">we couldn't find that page</h2>
    <h2 class="med">Try go to <%= link_to "Birdsy's home page", root_path %></h3>
  </div>
  <div class="sad-bird">
    <%= image_tag('sad-bird.png') %>
  </div>
</div>
